$black: #303030;
$light-black: #525252;
$white: #fff;
$grey: #A0A0A0;
$light-grey: #B4B4B4;
$background-grey: #F4F4F4;
$UBS-grey: #B0B0B0;
$UBS-red: #E60000;
$red: #CE1516;
$turquoise: #009999;

//Social media
$behance-hover: #1769ff;
$facebook-hover: #3b5998;
$twitter-hover: #1da1f2;
$dribbble-hover: #ea4c89;
$linkedIn-hover: #0077b5;
$instagram-hover: #c13584;