@import '../../styles/colors';

.team {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  div {
    width: 80%;
    padding-top: 15%;
    margin: 0 auto;
    button {
      width: 150px;
      height: 40px;
      border-radius: 40px;
      border-color: $red;
      background: transparent;
      color: $red;
      &:focus {
        outline: none;
      }
    }
  }
}