@import '../../../styles/colors';

.primaryButton {
    padding: 1.2rem 5rem;
    border-radius: 4rem;
    border-color: $red;
    background: transparent;
    color: $red;
    font-size: 1.3rem;
    line-height: 2.2rem;

    &:focus {
        outline: none;
    }
}

.primaryButtonInverted {
    color: $white;
    border-color: $white;
}
