@import '../../../styles/colors';

.primaryButton {
    padding: 12px 50px;
    border-radius: 40px;
    border-color: $red;
    background: transparent;
    color: $red;
    font-size: 13px;
    line-height: 22px;

    &:focus {
        outline: none;
    }
}

.primaryButtonInverted {
    color: $white;
    border-color: $white;
}