@import '../../styles/colors';

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.headerBox {
  width: 80%;
  padding-top: 3.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  img {
    height: 100%;
    align-self: center;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    .navigationList {
      display: inline;
      padding: 0 2.3rem;
      text-align: right;
      list-style-type: none;
      p {
        cursor: pointer;
      }
      .whiteLink {
        text-decoration: none;
        color: $white;
      }
      .greyLink {
        text-decoration: none;
        color: $grey;
      }
      .redLink {
        color: $red;
      }
    }
  }
}
