@import '../../../styles/colors';

.closeButton {
    width: 34px;
    height: 34px;
    background: transparent;
    border: none;
    color: $red;
    outline: none;
}

.closeButtonInverted {
    color: $white;
}